* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  text-align: center;
  overflow: hidden;
}
#commandsCanvas {
  margin-top: 200px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

#canvas {
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

#scoreCanvas {
  margin-bottom: 470px;
}

#worldScoreCanvas {
  border-radius: 5px;
  margin-bottom: 170px;
  background-color: rgba(0, 0, 0, 0.8);
}

img {
  z-index: -1;
  position: absolute;
  left: 0;
  width: 106%;
}
